/* Variables */
:root {
    --cultured-white: rgb(245, 245, 247);
    --silver: rgb(230, 230, 230);
    --grey: rgb(66, 66, 69);
    --gold: rgb(255, 204, 0);
    --main-font: "Karla", sans-serif;
    --header-weight: 600;
    --header-size: 48px;
    --sub-header-size: 36px;
    --mobile-header-size: 24px;
}


/* Body Styling */
* {
    box-sizing: border-box;
    background-color: var(--cultured-white);
    font-family: var(--main-font);
}
a {
    text-decoration: none;
    color: var(--grey);
}
.header-text {
    font-weight: var(--header-weight);
}
body {
    margin: 0;
    overscroll-behavior: none;
    scroll-behavior: smooth;
}


/* Navigation Styling */
.expended-nav { 
    width: 100%;
    padding: 30px 90px;
}
.nav-container {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.nav-title-container:hover {
    color: var(--gold);
    transition: 0.3s;
}
.nav-title-upper {
    font-size: 24px;
    margin: 0;
}
.nav-title-lower {
    margin: 0;
    font-weight: 300;
    font-size: 18px;
}
.menu-container ul {
    display: flex;
    list-style: none;
}
.menu-item {
    padding: 0 10px;
}
.menu-item a {
    transition: 0.3s;
}
.menu-item a:hover {
    color: var(--gold);
}
/* Mobile nav bar */
.sidepanel  {
    width: 0;
    position: fixed;
    z-index: 1;
    height: 300px;
    top: 0;
    right: 0;
    background-color: var(--cultured-white);
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
}
.sidepanel a {
    padding: 15px 32px 10px 10px;
    text-decoration: none;
    text-align: right;
    font-size: 20px;
    color: var(--grey);
    display: block;
    transition: 0.3s;
}
.sidepanel a:hover {
    color: var(--gold);
}
.sidepanel .closebtn {
    position: absolute;
    top: 0;
    right: 25px;
    font-size: 34px;
}
.openbtn {
    display: none;
    font-size: 34px;
    cursor: pointer;
    color: var(--grey);
    padding: 10px 15px;
    border: none;
} 
.openbtn:hover {
    color: var(--gold);
}
@media (max-width: 640px) {
    .openbtn {
        display: initial;
    }
    .menu-container {
        display: none;
    }
    .expended-nav { 
        width: 100%;
        padding: 30px 30px;
    }
}


/* Video Strip Styling */
.video-strip-container {
    position: relative;
    width: 100%;
    height: 500px;
    overflow: hidden;
    margin-bottom: 121px;
}
.video-strip-container video {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.video-strip-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: var(--cultured-white);
    padding: 20px;
}
.video-strip-overlay h1, .video-strip-overlay p {
    background: none;
}
.video-strip-overlay h1 {
    font-size: var(--header-size);
    font-weight: var(--header-weight);
    margin: 0;
}
.video-strip-overlay p {
    font-size: 18;
    margin-bottom: 20px;
}
.strip-btn {
    padding: 10px 16px;
    border-radius: 15px;
    box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.1);
    transition: 0.3s;
    font-size: 15px;
}
.strip-btn:hover {
    padding: 12px 18px;
    font-size: 18px;
}
@media (max-width: 640px) {
    .video-strip-overlay h1 {
        font-size: var(--mobile-header-size);
    }
    .video-strip-overlay p {
        font-size: 16px;
        margin-bottom: 25px;
    }
}


/* Social media links section style */
.socials-strip {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.tagline p {
    font-size: var(--sub-header-size);
    font-weight: var(--header-weight);
    color: var(--grey);
    margin: 0;
}
.social-links {
    display: grid;
    grid-template-columns: repeat(5, 150px);
    grid-template-rows: 150px;
}
.social-item {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.social-title {
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
    pointer-events: none; /* prevents interaction when hidden */
}
.mobile-title {
    opacity: 0;
    margin: -35px 0 0 0;
    font-size: 12px;
    pointer-events: none;
}
.hover-div:hover + .social-title {
    opacity: 1;
    pointer-events: auto; /* re-enables interaction */
}
.hover-div img {
    width: 30px;
    cursor: pointer;
}
@media (max-width: 640px) {
    .tagline p {
        font-size: var(--mobile-header-size);
        color: var(--grey);
        margin: 0;
    }
    .social-links {
        grid-template-columns: repeat(5, 70px);
        grid-template-rows: 100px;
    }
    .mobile-title {
        opacity: 1;
    }
    .hover-div:hover + .social-title {
        opacity: 0;
    }
    .hover-div img {
        width: 20px;
    }
}


/* Video grid section style */
.projects-grid {
    /* display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    padding: 0 90px; */
    column-count: 3;
    column-gap: 10px;
    padding: 0 90px;
}
/* .grid-column {
    flex: 30%;
    max-width: 30%;
    padding: 0 3px;
} */
.grid-item {
    break-inside: avoid;
    margin-bottom: 10px;
}
.overlay-container {
    position: relative;
    width: 100%;
    display: inline-block;
    overflow: hidden;
    transition: all 1s ease;
}
.overlay-container:hover {
    border-radius: 25px;
}
.overlay-container img {
    display: block;
    width: 100%;
    height: auto;
    transition: transform 0.5s ease;
}
.overlay-container:hover img {
    transform: scale(1.03);
    transition: transform 0.8s ease;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* light black */
    opacity: 0;
    transition: opacity 0.3s ease;
}
.overlay-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--cultured-white);
    background: none;
    font-size: 16px;
    text-align: center;
    opacity: 0;
    transition: opacity 0.5s ease;
    pointer-events: none;
}
.overlay-container:hover .overlay,
.overlay-container:hover .overlay-text {
    opacity: 1;
}
@media screen and (max-width: 1024px) {
    .projects-grid {
        /* grid-template-columns: repeat(2, 1fr);
        padding: 0 30px; */
        column-count: 2;
        padding: 0 30px;
    }
}
@media (max-width: 640px) {
    .projects-grid {
        /* grid-template-columns: 1fr;
        padding: 0 15px;
        gap: 5px; */
        column-count: 1;
        padding: 0 15px;
        column-gap: 5px;
    }
}